/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/components/
/node_modules/
/.tmp
/.idea
/web/css
/web/images
/web/js
/web/flags
/dist
*.php~