<div class="row">
    <div class="col-lg-12 text-center">
        <span class="welcome">
            {{- 'app.homepage.landingPage.text'|trans|raw -}}
        </span>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="btn-homepage">
            <span class="btn btn-primary" id="explore-steem">
                {{- 'app.homepage.landingPage.button.explore'|trans -}}
            </span>
            <span class="btn btn-default" id="get-steem">
                {{- 'app.homepage.landingPage.button.get'|trans -}}
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="mouse">
            <div class="scroll-downs">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
            </div>
            <div class="arrow">
                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>